body {
    font-family: "Roboto", sans-serif;
    color: #545E6C;
    background: #f5f5f5;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    padding-top: 100px;
}

a {
    color: #2f4487;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1a454f;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

a:focus {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.wrapper {
    background: #3b7eb6;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
    background: #308da5;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    min-height: 800px;
    color: #fff;
}

.sidebar-wrapper a {
    color: #fff;
}

.sidebar-wrapper .profile-container {
    padding: 30px;
    background: rgba(16, 51, 56, 0.582);
    color: #fff;
}

.sidebar-wrapper .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-wrapper .profile {
    margin-bottom: 15px;
}

.sidebar-wrapper .contact-list .svg-inline--fa {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.sidebar-wrapper .contact-list li {
    margin-bottom: 15px;
}

.sidebar-wrapper .contact-list li:last-child {
    margin-bottom: 0;
}

.sidebar-wrapper .contact-list .email .svg-inline--fa {
    font-size: 14px;
}

.sidebar-wrapper .container-block {
    padding: 30px;
}

.sidebar-wrapper .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

.sidebar-wrapper .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.sidebar-wrapper .education-container .item {
    margin-bottom: 15px;
}

.publications-container .item {
    margin-left: 2rem;
    padding-bottom: 2rem;
}

.sidebar-wrapper .education-container .item:last-child {
    margin-bottom: 0;
}

.sidebar-wrapper .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 14px;
}

.sidebar-wrapper .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}

.sidebar-wrapper .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .languages-list {
    margin-bottom: 0;
}

.sidebar-wrapper .languages-list li {
    margin-bottom: 10px;
}

.sidebar-wrapper .languages-list li:last-child {
    margin-bottom: 0;
}

.sidebar-wrapper .interests-list {
    margin-bottom: 0;
}

.sidebar-wrapper .interests-list li {
    margin-bottom: 10px;
}

.sidebar-wrapper .interests-list li:last-child {
    margin-bottom: 0;
}

.main-wrapper {
    background: #fff;
    padding: 30px;
    padding-right: 360px;
}

.main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #308da5;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

.main-wrapper .section-title .icon-holder {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #308da5;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: -8px;
}

.main-wrapper .section-title .icon-holder .svg-inline--fa {
    font-size: 14px;
    margin-top: 6px;
}

.main-wrapper .section {
    margin-bottom: 60px;
}

.main-wrapper .experiences-section .item {
    margin-bottom: 30px;
}

.main-wrapper .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.main-wrapper .job-title {
    color: #9a9fad;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.main-wrapper .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #344966;
}

.main-wrapper .company {
    margin-bottom: 10px;
    color: #344966;
}

.main-wrapper .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.main-wrapper .projects-section .intro {
    margin-bottom: 30px;
}

.main-wrapper .projects-section .item {
    margin-bottom: 15px;
}

.skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
}

.skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
}

.skillset .level-bar {
    height: 12px;
    background: #f5f5f5;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.skillset .theme-progress-bar {
    background: #b2c2ed;
}

.footer {
    padding: 30px;
    padding-top: 60px;
}

.footer .copyright {
    line-height: 1.6;
    color: #545E6C;
    font-size: 13px;
}

.footer .fa-heart {
    color: #fb866a;
}

@media (max-width: 760.98px) {
    .sidebar-wrapper {
        position: static;
        width: inherit;
    }
    .main-wrapper {
        padding: 30px;
    }
    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 5px;
    }
    .main-wrapper .upper-row {
        margin-bottom: 0;
    }
}

@media (min-width: 950px) {
    .skillset .level-title {
        display: inline-block;
        width: 30%;
        margin-bottom: 0;
    }
}

.buggy-1 {
    margin-left: 30px;
    height: 3px;
    width: 1px;
    text-align: center;
    text-decoration: none;
    background-position: center;
    display: block;
    position: relative;
    text-decoration: underline;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.publication-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.profile-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-name {
    padding-top: 16px;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skill-list {
    display: flex;
    flex-flow: row wrap;
    padding-left: 1rem;
    margin-bottom: 3rem;
}

.tool-item {
    width: calc(15%);
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    margin: unset;
    text-align: justify;
    list-style-type: none;
    margin-inline-start: 1rem;
    padding-bottom: 1rem;
}

.tool-item-content {
    width: 100%;
    border-bottom: 5px solid #8c9be6;
}

.tool-item-content p {
    min-width: 120px;
    margin: 0px;
}

.skill-item {
    width: calc(30%);
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    margin: unset;
    text-align: justify;
    list-style-type: none;
    margin-inline-start: 1rem;
    padding-bottom: 1rem;
}

.skill-item-content {
    width: 100%;
    border-bottom: 5px solid #8c9be6;
}

.skill-item-content p {
    min-width: 120px;
    margin: 0px;
}


/* TOP NAV*/


/* Dropdown Button */

.dropbtn {
    cursor: pointer;
    background-color: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.hidden {
    display: none;
}

.navbar {
    background-color: #1d5865;
    display: flow-root;
    padding: 0;
}

.navbarwiki {
    background-color: #1d5865;
    /* display: flow-root;*/
    padding: 0;
    position: fixed;
    display: block;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #308da5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* CSS styles for your blog page */


/* The side navigation menu */

.sidenav {
    margin-top: 52px;
    height: 100%;
    /* 100% Full-height */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.wikicontent {
    margin-left: 200px;
}

#password-generated {
    width: 90%;
}